{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1> Rango says ... </h1>
    <p>Visits: {{ visits }}</p>
    <p>here is the about page.</p>

    <div>
        <a href="{% url 'rango:index' %}">Index</a><br />
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
    </div>

    <div>
        <p>This tutorial has been put together by <strong>Tusshar</strong>.</p>
    </div>

    <button class="btn btn-primary"
            onclick="alert('You clicked the button using inline JavaScript!');">
        Click me - I run on vanilla JavaScript
    </button>

    <button class="btn btn-primary" id="about-btn">
        Click me - I run on jQuery
    </button>

    <div>
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />
    </div>
{% endblock %}










